<div [@routerTransition]>
<div ng-app="myApp">
  <div ng-controller='MainController'>
    <button ng-click="startAdd()">Add Item</button>
    <ul>
      <li ng-repeat="item in items">
        <a href='' ng-click="item.showing = !item.showing">
          {{item.name}}, {{item.publisher}}
        </a>
        <div ng-show="item.showing" class='description'
          ng-bind-html-unsafe="item.description"></div>
      </li>
    </ul>
    <form ng-show="adding" class="add-window" ng-submit="addItem()">
      <div class='header'>Add a Book</div>
      <div class='inner'>
        <div>
          <label>Name: </label>
          <input type="text" ng-model="newItem.name" required>
        </div>
        <div>
          <label>Publisher: </label>
          <input type="text" ng-model="newItem.publisher" required>
        </div>
        <div>
          <label>Description: </label>
          <textarea ng-model="newItem.description"></textarea>
        </div>
        <div class='button-bar'>
          <input type="submit" value="Add">
          <button type="button" ng-click="cancelAdd()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
