.add-window {
  min-width: 350px;
  position: fixed;
  bottom: 0px;
  right: 10px;
  border: 1px solid black;
  background-color: white;
}

.add-window .header {
  background-color: #333;
  color: white;
}

.add-window div {
  padding: 5px 20px;
}

.description {
  margin: 10px 0;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  vertical-align: top;
}

.button-bar {
  text-align: right;
}

input[type=text] {
  width: 200px;
}

textarea {
  width: 200px;
  height: 100px;
}